/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #2c3e50;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.read-the-docs {
  color: #7f8c8d;
  text-align: center;
  margin-top: 20px;
}

.app-container {
  text-align: center;
}

.app-header {
  position: relative;
}

.nav-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  margin: 15px;
  width: 90vw;
  height: 80vh;;
  border: 1px solid red;
  align-self: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 48%;
  border: 1px solid red;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  border: 1px solid red;
  margin-left: 30px;
}

.hdr-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70vw;
}

.hdr {
  margin-left: 35px;
}

.right-body {
  width: 100%;
  height:100%;
  
}