.card-wrapper {
    background-color: rgba(51, 103, 121, 0.498);
    border: 0px solid transparent;
    margin: 3px 15px 2px 15px;
    height: 40px;
    width:95%;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.card-wrapper:hover {
    opacity: 35%;
}

.job-company {
    margin: 0px 15px 0px 20px;
}