.home-container {
  text-align: center;
}

.app-header {
  position: relative;
  padding: 10px;
}

.nav-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}
