.job-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
  
.detail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 100%;
}
  
.section {
    margin-bottom: -15px;
}